.blog-header-img{
	display: table;
	width: 100%;
	height: 500px;
	position: fixed;
	top: 0;
	left: 0;
	background: #D2894B;
    background: url("../images/header.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	z-index: 1;
}

.blog-title{
	padding-top: 10%;
	color: #fff;
}

.blog-title h1{
	font-family: 'Lato', sans-serif;
	font-size: 5em;
	padding-bottom: 14px;
}

.blog-title h4{
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.75em;
	padding-bottom: 10px;
}

.post-title{
	font-family: 'Lato', sans-serif;
	font-size: 2.8em;
	padding-bottom: 10px;
}

.post-author{
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.2em;
	padding-bottom: 5px;
	color: #D2894B;
}

.blog-holder-catagory{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 600;
	color: #D2894B;
}

.blog-holder-title{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}

.blog-holder-author{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	color: #555;
}

.blogSearch{
	width: 100%;
	background-color: #333;
	border: none;
	padding: 1%;
	font-size: 3em;
}

.blog-holder{
	margin-top: 500px;
	background: #fff;
	position: relative;
	z-index: 2;
}

.postItem a{
	color: #000;
	text-decoration: none;
}

.postItem:hover a, .postItem:hover a .blog-holder-author, .postItem:hover a .blog-holder-catagory{
	color: #fff;
	text-decoration: none;
}

.postItem{
	width: 100%;
	background: #fff;
	padding: 5%;
	margin: 0;
}

.postItem:hover{
	background: #D2894B;
}

#post-intro{
	padding-top: 75px;
}

.close-post{
	position: absolute;
	top: 25px;
	right: 25px;
	width: 75px;
	height: 75px;
	background-color: transparent;
	cursor: pointer;
}

.close-post:hover {
    opacity: .3;
}

.close-post .lr {
z-index: 1051;
width: 1px;
height: 75px;
margin-left: 35px;
background-color: #3d3d3d;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}

.close-post .lr .rl {
z-index: 1052;
width: 1px;
height: 75px;
background-color: #3d3d3d;
-webkit-transform: rotate(90deg);
-ms-transform: rotate(90deg);
transform: rotate(90deg);
}