<header class="blog-header-img">
    <div class="text-center blog-title">
        <h1>{{ title }}</h1>
        <h4>{{ description }}</h4>
    </div>
</header>
<section>
<div class="container-fluid blog-holder">
    <input class="blogSearch" type="text" ng-model="dataFilter" placeholder="Search..."/></td>
    <div class="row postItem text-center" ng-repeat="(key, post) in posts.items | filter: dataFilter">
        <a class="" href="#{{ key }}">
        <p class="blog-holder-catagory">{{ posts.items[key].labels[0] }}</p>
        <h1 class="blog-holder-title">{{ posts.items[key].title }}</h1>
        <h3 class="blog-holder-author">{{ posts.items[key].author.displayName }} 
        </a>
    </div>
</div>
</section>
